html,body {
    padding:0;
    margin:0;
    background:black;
    overflow-x: hidden;

}

/* Navbar Text */

.yam-text-style{
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    color:white !important;
}
/* Navbar Styling */

.navbar-light .navbar-brand{
    color:#fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;  
}

.navbar{
    background-color: black !important;
}

.navbar-toggler{
    background-color: white
}


#YamCover{
    background-color: black;
    position:relative;
    width: 100%;
    color:red;
    top:0;
}


#cover {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

#wrapper {
    position:absolute;
    height:100%;
    width:100%;
}

#leftpic, #midpic,#rightpic{
    float: left
}

#leftpic{
    width: 25%;
    display: table-cell;
    margin-top: 20%;
    text-align: center;
}

#midpic{
    width: 50%;
    display: table-cell;
}

#midpic img{
    margin-left: auto;
	margin-right: auto;
	display: block;
}

#rightpic{
    width: 25%;
    display: table-cell;
    margin-top: 20%;
    text-align: center;
}

#YamOpCover{
    max-height:100%; 
    max-width:100%;
}

#YamTourPic{
    max-height:100%; 
    max-width:100%;
}

.merch-pics{
    max-height:100%; 
    max-width:100%;
}

.label{
    height: 100px;
    line-height: 400px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color:white !important;
}

#tracks{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#YamInfo{
   background-color: black;
   position:relative;
   height:100%;
   min-height:100%;
   width:100%;
   z-index:100;
}

#merch-formating{
    margin-left: 10%;
    margin-right: 10%;
}
#merch{
    background-color: black;
    display: table;
    width: 100%;
}

.card{
    background-color: black;
    display: table-cell !important;
}
.card-text{
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    color:white !important;
    text-align: center;
}

#tour-formatting{
    margin-left: 10%;
    margin-right: 10%;
}
#tour{
    background-color: black;
    display: table;
    width: 100%;
}

#tourpic{
    display: table-cell !important;
    width: 30%;
}

#tourpic img{
    max-height:100%; 
    max-width:100%;
}

#tourbio{
    display: table-cell !important;
    width: 70%;
}

#bio-text-style{
    position: absolute;
    margin-top: 2%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5vw;
    color:white !important;
    text-align:left; 
    margin-left: 2%;
    margin-right: 2%;
}

/* Animated Text CSS */

.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 3em;
}

.ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
  }






